* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {

    max-width: 965px;
    padding: 10px 40px;
    background: #333333;
    margin: 0 auto;
    border: 1px solid black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

body {
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.err-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}

.time {
    position: absolute;
    top: 10px;
    right: 10px;
    color: blue;

}

.game-area__game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}


/* cards  */
.card {
    height: 200px;
    width: 150px;
    /* background: #f4f4f4; */

    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    background-color: transparent;
    /* transition: border 2s ease-in, box-shadow 2s ease-out; */

}



.card img {
    object-fit: cover;
}


/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid black;
    box-shadow: 1px 2px 3px lightgrey;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card.reveal .card-inner {
    transform: rotateY(180deg) scale(1.1);
}

.card.error {
    border: 5px solid red;


}

/* Position the front and back side */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    /* background-color: #bbb; */
    color: black;
}

/* Style the back side */
.card-back {
    /* background-color: dodgerblue; */
    color: white;
    transform: rotateY(180deg);
}