* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {

    width: 80%;
    background: #333;
    /* margin: 0 auto; */
    border: 1px solid #999;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;

}

body {
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}


/* header */

header {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    width: 100%;
    background: #999999;
    display: grid;
    grid-auto-flow: column;
    border-radius: 15px 15px 0 0;
}

.err-counter {
    /* position: absolute; */

    color: red;
    justify-self: flex-start;

    display: inline-block;
}

.time {
    /* position: absolute; */

    color: blue;
    justify-self: flex-end;

}

.game-area__game {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));

    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.game-area__game[level='medium'] {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 1fr));
    grid-template-rows: repeat(3, minmax(auto, 1fr));

}

.game-area__game[level='hard'] {
    display: grid;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    grid-template-rows: repeat(4, auto);

}

.game-area {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
}


/* cards  */
.card {
    height: 100%;
    width: 100%;
    /* background: #f4f4f4; */

    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    background-color: transparent;
    /* transition: border 2s ease-in, box-shadow 2s ease-out; */

}



.card img {
    object-fit: cover;
}


/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid black;
    box-shadow: 1px 2px 3px lightgrey;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card.reveal .card-inner {
    transform: rotateY(180deg) scale(1.1);
}

.card.error {
    border: 5px solid red;


}

/* Position the front and back side */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    /* background-color: #bbb; */
    color: black;
}

/* Style the back side */
.card-back {
    /* background-color: dodgerblue; */
    color: white;
    transform: rotateY(180deg);
}














@media (max-width: 1200px) {


    .wrapper {

        width: 100%;
        background: #333;
        /* margin: 0 auto; */
        border: 1px solid #999;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 15px;

    }

    .game-area__game {
        display: grid;
        grid-template-columns: repeat(4, minmax(15vw, 1fr));
        grid-template-rows: repeat(3, minmax(auto, 1fr));

        grid-gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .game-area__game[level='medium'] {
        display: grid;
        grid-template-columns: repeat(3, minmax(15vw, 1fr));
        grid-template-rows: repeat(6, auto);

    }

    .game-area__game[level='hard'] {
        display: grid;
        grid-template-columns: repeat(4, minmax(10vw, 1fr));
        grid-template-rows: repeat(6, auto);

    }



}



@media (max-width: 500px) {

    h1 {
        font-size: 0.8rem;
    }

    .game-area__game {
        display: grid;
        grid-template-columns: repeat(4, minmax(15vw, 1fr));
        grid-template-rows: repeat(3, minmax(10vh, 1fr));

        grid-gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .game-area__game[level='medium'] {
        display: grid;
        grid-template-columns: repeat(3, minmax(15vw, 1fr));
        grid-template-rows: repeat(6, auto);

    }

    .game-area__game[level='hard'] {
        display: grid;
        grid-template-columns: repeat(4, minmax(10vw, 1fr));
        grid-template-rows: repeat(6, auto);

    }



}


/* @media (max-width: 750px) {
    .card {
        height: 30vw;
        width: 20vw;

        perspective: 1000px;
        background-color: transparent;

    }


    .wrapper {

        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding: 20px;
        align-items: center;
    }

    .wrapper h1 {
      
        font-size: 1.2rem;
    }




}


@media (max-width: 400px) {

    .card {
        height: 15vh;
        width: 10vh;

        perspective: 1000px;
        background-color: transparent;

    }

}


@media (max-width: 400px) and (min-height: 700px) {
    .card {
        height: 14vh;
        width: 18vw;

        perspective: 1000px;
        background-color: transparent;

    }
} */